/wp-admin/
/wp-includes/
wp-config.php
/wp-content/uploads/
/wp-content/cache/
/wp-content/debug.log
/node_modules/
/vendor/
.env
.DS_Store
Thumbs.db
.idea/
.vscode/
/wp-content/plugins/
/wp-content/themes/twentytwentyfour
/wp-content/themes/twentytwentythree