.banner-bg {
    background-image: url(../../../../uploads/2025/01/farm-field.jpeg);
    height: 450px;
    background-position: center 50%;
    background-size: cover;
    mix-blend-mode: darken;
}

.content-footer-banner {
    font-size: 60px;
    max-width: 45rem;
    line-height: 65px;
    color: white;
}
  
#footer {
    background-color: white;
    width: 400px;
    height: 50px;
    border-radius: 35px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.input-email-subscription {
    border: none;
    width: 75%;
    height: 25px;
    margin-top: 3px;
}

input[type="email"]:focus {
    outline: none;
}

.form-submit-subscription {
    width: 25%;
    background-color: #D1F349;
    border-radius: 35px;
    margin-right: 3px;
    margin-top: 3px !important;
    font-family: "Poppins", serif;
    border: none;
}

.footer-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

@media only screen and (max-width: 600px) {
    .content-footer-banner {
        font-size: 35px;
        line-height: 45px;
    }

    .form-subscription {
        padding: 0 50px;
    }

    .footer {
        margin-left: auto;
        margin-right: auto;
    }

    .banner-bg {
        height: 250px;
    }
    
    .form-submit-subscription {
        margin-right: 3px;
        margin-top: 4px !important;
    }

    .footer-container {
        text-align: center;
    }
}

.footer-item:hover {
    color: #a1c70c !important;
    background-color: transparent !important;
}